body{
    font-family:sans-serif;
    font-size: 400;
    box-sizing: border-box;
    text-align: center;
}

h1{
    color:rgb(78, 2, 2);
}

h2{
    color:rgb(173, 82, 82);
}
footer nav ul li{
    margin: 20px;
    display: inline;
}